transformers==4.34.1
datasets==2.14.5
question_generation
rouge
accelerate==0.23.0
sentencepiece
protobuf
pyarrow==13.0.0
streamlit==1.28.2
nltk
jsonlines
gdown
openai
evaluate==0.4.0
spacy==3.7.1
tqdm==4.66.1
pandas==2.1.1
opencc